<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
  </head>
<body>
<br>
<div class="ui container">
<div class="ui cards">
{% for card in cards_lines %}
{{ card|safe }}
{% endfor %}
<div class="ui container">
    <button onclick="reset_rows()">Reset</button>
    <button onclick="invert_selection()">Invert Selection</button>
</div>
</div>
</div>
<br>
<div class="ui container" id="main_table_div">
{% for line in table_lines %}
{{ line|safe }}
{% endfor %}
</div>
<script src="../static/jquery.min.js"></script>
<script src="../static/stupidtable.min.js"></script>
<script src="../static/card_updates.js"></script>
<script>
var stock_to_weight = {{ stock_to_weight|tojson }}
</script>
<script>
$(document).ready(function(){
    $('table').stupidtable({
        "customfloat":function(a,b){
            a = a.replace(/[$%,]/g, '')
            b = b.replace(/[$%,]/g, '')
            return parseFloat(a, 10) - parseFloat(b ,10);
        }
    })
    reset_rows();
});
</script>
</body>
</html>

