<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<br>
<div class="ui container">
<div class="ui cards">
<div class="ui card"  style="width:auto">
  <div class="content" style="padding:5px 5px 5px 5px;font-size:small">Market Value</div>
  <div class="content" style="padding:5px 5px 5px 5px;font-size:medium" id="market_value">initial_sum</div>
</div>
<div class="ui card"  style="width:auto">
  <div class="content" style="padding:5px 5px 5px 5px;font-size:small">key2</div>
  <div class="content" style="padding:5px 5px 5px 5px;font-size:medium">value2</div>
</div>
<div class="ui container">
    <button onclick="myReset()">Reset</button>
    <button onclick="myInvert()">Invert Selection</button>
</div>
<script>
function myReset() {
    var table_div = document.getElementById("main_table_div");
    var rows = table_div.getElementsByTagName("tr");
    var row_i;
    for (row_i = 0; row_i < rows.length; row_i++)
        rows[row_i].classList.remove('active');
    recalculate();
}
function myInvert() {
    var table_div = document.getElementById("main_table_div");
    var rows = table_div.getElementsByTagName("tr");
    var row_i;
    for (row_i = 1; row_i < rows.length; row_i++)
        rows[row_i].classList.toggle('active')

    recalculate()    
}
function myActivate(obj) {
    obj.classList.toggle('active')
    recalculate()
}
function recalculate() {
    var table_div = document.getElementById("main_table_div");
    var rows = table_div.getElementsByTagName("tr");
    var row_i;
    var active_sum = 0;
    var inactive_sum = 0;
    for (row_i = 1; row_i < rows.length; row_i++) {
        var x = rows[row_i].getElementsByClassName("my_value");
        var count_row = parseFloat(x[0].innerHTML, 10); 
        if ( rows[row_i].classList.contains('active') ) 
            active_sum = active_sum + count_row;
        else 
            inactive_sum = inactive_sum + count_row;
    }
    if ( active_sum > 0.1 )
        document.getElementById("market_value").innerHTML = active_sum
    else
        document.getElementById("market_value").innerHTML = inactive_sum
}
</script>
</div>
</div>
<br>
<div class="ui container" id="main_table_div">
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th data-sort="string">Ticker</th>
      <th data-sort="int">Shares</th>
      <th data-sort="int">Buy Date</th>
      <th data-sort="float">percent</th>
      <th data-sort="float">increase today</th>
    </tr>
  </thead>
  <tbody>
    <tr onclick=myActivate(this)>
      <td>AAPL</td>
      <td class="my_value">1038</td>
      <td data-sort-value=736338>01/09/2017</td>
      <td>0.1</td>
      <td>12.8</td>
    </tr>
    <tr onclick=myActivate(this)>
      <td>AAPL</td>
      <td data-sort-value=1038 class="my_value">1014</td>
      <td data-sort-value=736338>01/09/2017</td>
      <td data-sort-value=0.1>0.1</td>
      <td data-sort-value=12.8>11.4</td>
    </tr>
    <tr onclick=myActivate(this)>
      <td>AAPL</td>
      <td data-sort-value=1038 class="my_value">24</td>
      <td data-sort-value=736338>06/01/2017</td>
      <td data-sort-value=0.1>0.1</td>
      <td data-sort-value=12.8>1.2</td>
    </tr>
    <tr onclick=myActivate(this)>
      <td>ADBE</td>
      <td class="my_value">234</td>
      <td data-sort-value=736389>03/01/2017</td>
      <td>0.4</td>
      <td>-91.3</td>
    </tr>
    <tr onclick=myActivate(this)>
      <td>ACC</td>
      <td class="my_value">134</td>
      <td data-sort-value=736390>03/02/2017</td>
      <td>0.5</td>
      <td>-71.3</td>
    </tr>
  </tbody>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="../static/stupidtable.min.js"></script>
<script>

$(document).ready(function(){
    $('table').stupidtable();
    myReset();
});
</script>
</body>
</html>
